/* Product Info Section */
.product-info {
    flex: 3;
    padding: 20px;
    background-color: #000; /* Background color to match the rest of the design */
    border-radius: 8px;
    margin-right: 20px;
}

.product-info {
    flex: 3;
    margin-right: 20px;
    padding: 20px;
    border-radius: 8px;
}

.product-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
}

/* Product Table */
.prod-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 20px;
}

.prod-table th,
.prod-table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

.prod-table th {
    background-color: #333;
    color: white;
}

/* Product Toggle Buttons */
.prod-toggle {
    margin-bottom: 20px;
}

.prod-toggle button {
    background-color: #333;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.prod-toggle button:hover {
    background-color: #555;
}

/* Set the input field widths to match the table column widths */
.product-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.product-actions input {
    flex: 1;
    min-width: 20px; /* Set minimum width */
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #000;
    color: #ccc;
    text-align: left;
}

.product-actions .action-buttons {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.product-actions .action-buttons button {
    padding: 8px 16px;
    border: none;
    background-color: #000;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.product-actions .action-buttons button:hover {
    background-color: #ff0;
}

.product-actions .result-message {
    margin-left: 20px;
    font-weight: bold;
    font-size: 0.9em;
    color: red;
}

/* Sync the widths of table columns and input fields */
.product-actions input {
    width: 15%;
}

/* Result Message */
.result-message {
    margin-top: 15px;
    font-size: 1em;
    text-align: center;
    flex: 1;
}

.result-message.success {
    color: green;
}

.result-message.fail {
    color: red;
}
