<link rel="stylesheet" href="/css/wholesale/partial/header.css">

<div class="header">
    <div class="logo-section">
        <div class="logo">logo</div>
        <div class="logo">logo</div>
    </div>
    <div class="menu-section">
        <a href="/wholesale/prod">상품등록</a>
        <a href="#">주문안내</a>
        <a href="#">접속량통계</a>
    </div>
    <div class="user-info">
        <span><%= user.id %></span>
    </div>
</div>