/*
* product sidebar
* sidebar for product and option page
*/

.sidebar {
    flex: 1;
    justify-content: space-between;
    background-color: #111111;
    padding: 20px;
    border-left: 1px solid #333;
}

.sidebar .management-section {
    margin-top: 20px;
}

.sidebar .upload-section {
    margin-bottom: 20px;
}

.sidebar .example-file,
.sidebar .upload-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.sidebar .example-file:hover,
.sidebar .upload-button:hover {
    background-color: #333;
}

.sidebar .management-actions button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: white;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}

.sidebar .management-actions .download {
    background-color: #000;
    border-color: #ff0;
    color: #ff0;
}

.sidebar .management-actions .delete-all {
    background-color: #000;
    border-color: #ff0;
    color: #ff0;
}

.sidebar .management-actions button:hover {
    opacity: 0.8;
}

.sidebar h2 {
    font-size: 1em;
    margin-bottom: 10px;
    color: white;
}